h1.title-videos {
    text-align: center;
}

div.videos__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 2rem;
    gap: 2rem;
    background-color: #6d725d;
}
.cards-container{
    background-color: rgb(183, 199, 155);
}
button{
    cursor: pointer;
}